.lead-question-answer-wrapper{
    max-width: 1080px;
    min-width: 720px;
    flex: 1;
    padding: 16px;
}
.lead-question-answer-container{
    padding: 0 0 64px 0;
    border-bottom: 1px solid var(--tint-stone-50);
    max-width: 720px;
}
.lead-question-answer-container .lead-question-text{
    font-family: "SofiaPro-Medium";
    color: var(--primary-green-text);
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px; /* 133.333% */
    letter-spacing: -0.48px;
    margin: 0 0 16px 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 12px;
}
.lead-question-answer-container .lead-question-answer{
    font-family: "SofiaPro-Regular";
    color: var(--primary-green-text);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 155.556% */
    letter-spacing: -0.27px;
}
.lead-question-answer-wrapper .recommendations{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 720px;
}
.lead-question-answer-wrapper .recommendations .recommendations-tabs{
    padding: 32px 0 24px 0;
    width: 100%;
    display: flex;
    column-gap: 8px;
    position: sticky;
    top: 0;
    background-color: #FFF;
}
.lead-question-answer-wrapper .recommendations .recommendations-tabs .tab{
    font-family: "SofiaPro-Medium";
    color: var(--primary-green-text);
    padding: 8px 24px;
    border-radius: 99px;
    width: auto;
    background-color: #FFF;
    border: 1px solid var(--tint-stone-50);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: -0.24px;
    cursor: pointer;
}
.lead-question-answer-wrapper .recommendations .recommendations-tabs .tab.active{
    color: #FFF;
    background-color: var(--primary-green-text);
}
.lead-question-answer-wrapper .recommendations-content>h2{
    font-family: "SofiaPro-SemiBold";
    color: var(--primary-green-text);
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px; /* 133.333% */
    letter-spacing: -0.48px;
    margin: 24px 0 16px 0;
}

.lead-question-answer-wrapper .recommendations-content .recommendation{
    padding: 24px 0 48px 0;
    border-bottom: 1px solid var(--tint-stone-50);
    margin-bottom: 32px;
}
.lead-question-answer-wrapper .recommendations-content .recommendation.lifestyle{
    padding: 0 0 48px 0;
}
.lead-question-answer-wrapper .recommendations-content .recommendation .title{
    font-family: "SofiaPro-SemiBold";
    color: var(--primary-green-text);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px; /* 150% */
    letter-spacing: -0.3px;
    margin: 0 0 16px 0;
    display: flex;
    align-items: center;
    column-gap: 8px;
}
.lead-question-answer-wrapper .recommendations-content .recommendation .description{
    font-family: "SofiaPro-Regular";
    color: var(--primary-green-text);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: -0.16px;
    margin: 0 0 32px 0;
}
.lead-question-answer-wrapper .recommendations-content .recommendation .science{
    font-family: "SofiaPro-Regular";
    color: var(--tint-dark-green-70);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.21px;
}
.lead-question-answer-wrapper .recommendations-content .recommendation .science strong{
    color: var(--primary-green-text);
    font-family: "SofiaPro-SemiBold";
    font-weight: 700;
}
.lead-question-answer-wrapper .recommendations-content .recommendation .product{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    column-gap: 24px;
    margin-bottom: 24px;
}
.lead-question-answer-wrapper .recommendations-content .recommendation .product img{
    border-radius: 16px;
    border: 1px solid var(--tint-stone-50);
}
.lead-question-answer-wrapper .recommendations-content .recommendation .product .name{
    font-family: "SofiaPro-SemiBold";
    color: var(--primary-green-text);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px; /* 150% */
    letter-spacing: -0.3px;
}
.lead-question-answer-wrapper .recommendations-content .recommendation .product .description{
    font-family: "SofiaPro-Regular";
    color: var(--tint-dark-green-50);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: -0.16px;
    margin: 0 0 24px 0;
}
.lead-question-answer-wrapper .recommendations-content .recommendation .product .button-primary{
    padding: 8px 24px;
    background-color: var(--primary-green-text);
    font-family: "SofiaPro-Medium";
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: -0.24px;
}
.lead-question-answer-wrapper .recommendations-content .recommendation .product-info{
    margin-top: 8px;
}
.lead-question-answer-wrapper .assesments{
    min-width: 720px;
    max-width: 1080px;
}
.lead-question-answer-wrapper .assesments>h2{
    font-family: "SofiaPro-SemiBold";
    color: var(--primary-green-text);
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px; /* 133.333% */
    letter-spacing: -0.48px;
    margin: 0 0 8px 0;
}
.lead-question-answer-wrapper .assesments>p{
    font-family: "SofiaPro-Regular";
    color: var(--primary-green-text);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 155.556% */
    letter-spacing: -0.27px;
    margin: 0;
}
.lead-question-answer-wrapper .assesments .assesment-carousel{
    display: flex;
    margin-top: 48px;
}
.lead-question-answer-wrapper .assesments .assesment-card{
    border-radius: 16px;
    border: 1px solid var(--tint-stone-50);
    padding: 24px 32px;
    width: 236px;
}
.lead-question-answer-wrapper .assesments .assesment-card .assesment-title{
    font-family: "SofiaPro-SemiBold";
    color: var(--primary-green-text);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; /* 155.556% */
    letter-spacing: -0.36px;
    margin: 0 0 16px 0;
}
.lead-question-answer-wrapper .assesments .assesment-card .read-more{
    font-family: "SofiaPro-Medium";
    color: var(--tint-dark-green-50);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: -0.24px;
}
.lead-question-answer-wrapper .assesments .swiper-slide{
    width: 300px !important;
}