.meno-score-container{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  row-gap: 32px;
}
.meno-stage{
  border: 1px solid var(--tint-stone-50);
  border-radius: 16px;
  padding: 32px;
  max-width: 100%;
  height: auto;
}
.meno-stage-main-content{
  margin: 0 0 48px 0;
  display: flex;
  column-gap: 64px;
}
.meno-stage-main-content .meno-stage-scale{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: auto;
  padding-left: 16px;
  position: relative;
}
.meno-stage-main-content .meno-stage-scale .arrow{
  position: absolute;
  bottom: 0;
  left: 0;
  transition: bottom 2s linear;
}
.meno-stage-main-content .meno-stage-scale .top-arrow{
  position: relative;
  left: -5px;
}
.meno-stage-main-content .meno-stage-scale .item{
  color: var(--main-grey);
  font-family: "SofiaPro-Regular";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.42px;
  position: relative;
  padding-left: 12px;
}
.meno-stage-main-content .meno-stage-scale .item.active{
  color: var(--main-blue);
}
.meno-stage-main-content .meno-stage-scale .item:before{
  content: '';
  position: absolute;
  left: -5px;
  top: 4px;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  background-color: var(--secondary-blue-20);
  transition: background-color 0.2s linear;
}
.meno-stage-main-content .meno-stage-scale .item.active:before{
  background-color: var(--main-blue);
  transition: background-color 0.2s linear;
}
.meno-stage-main-content .meno-stage-scale .item.item1.active:before{
  transition-delay: 0s;
}
.meno-stage-main-content .meno-stage-scale .item.item2.active:before{
  transition-delay: 750ms;
}
.meno-stage-main-content .meno-stage-scale .item.item3.active:before{
  transition-delay: 1500ms;
}
.meno-stage-main-content .meno-stage-scale .item.item4.active:before{
  transition-delay: 1800ms;
}
.meno-stage-main-content .meno-stage-text{
  flex: 1;
}
.meno-stage-main-content .meno-stage-scale .line-small{
  width: 4px;
  height: 24px;
  background-color: var(--secondary-blue-20);
  position: relative;
  border-radius: 24px;
  left: -1px;
}
.meno-stage-main-content .meno-stage-scale .line-big{
  width: 4px;
  height: 48px;
  background-color: var(--secondary-blue-20);
  position: relative;
  border-radius: 24px;
  left: -1px;
}
.meno-stage-main-content .meno-stage-scale .line-small span,
.meno-stage-main-content .meno-stage-scale .line-big span{
  height: 0;
  width: 100%;
  bottom: 0;
  position: absolute;
  background-color: var(--secondary-blue-80);
  transition: height 0.5s linear;
  border-radius: 24px;
}
.meno-stage-main-content .meno-stage-scale .line-big span.active{
  transition: height 0.5s linear;
  height: 100%
}
.meno-stage-main-content .meno-stage-scale .line-small span.active{
  transition: height 0.25s linear;
  height: 100%
}
.meno-stage-main-content .meno-stage-text .meno-stage-title{
  color: var(--main-blue);
  font-family: "SofiaPro-Medium";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: -0.72px;
  margin: 0 0 24px;
}
.meno-stage-main-content .meno-stage-text .meno-stage-description{
  color: var(--main-blue);
  font-family: "SofiaPro-Regular";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: -0.16px;
}
.meno-stage-explanation{
  color: var(--main-grey);
  font-family: "SofiaPro-Regular";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.18px;
  margin: 0;
}

.meno-score{
  border: 1px solid var(--tint-stone-50);
  border-radius: 16px;
  padding: 32px;
  max-width: 100%;
  height: auto;
}
.meno-score .score-circle text{
  color: var(--main-blue);
  font-family: "SofiaPro-SemiBold";
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 38px; /* 105.556% */
  letter-spacing: -0.36px;
}
#symptoms{
  margin-top: 32px;
}
#symptoms .intro{
  margin-bottom: 32px;
}
#symptoms .intro h2{
  color: var(--main-blue);
  font-family: "SofiaPro-Medium";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px; /* 133.333% */
  letter-spacing: -0.72px;
  margin: 0 0 16px 0;
}
#symptoms .intro .intro-text{
  color: var(--main-blue);
  font-family: "SofiaPro-Regular";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 155.556% */
  letter-spacing: -0.54px;
}
#symptoms  .action-buttons{
  display: flex;
  gap: 8px;
  background-color: #FFF;
  padding: 32px 0;
  position: sticky;
  left: 0;
  top: 0px;
}
#symptoms  .action-buttons .button{
  font-family: "SofiaPro-Medium";
  padding: 8px 24px;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: -0.24px;
  outline: 0;
}
#symptoms  .action-buttons .button.button--secondary{
  border: 1px solid var(--main-blue);
  color: var(--main-blue);
}
.simptoms-recommendations{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.simptoms-recommendations .symptom{
  border-bottom: 1px solid var(--tint-stone-50);
  padding: 0 0 32px 0;
  max-width: 100%;
  height: auto;
  margin-bottom: 32px;
}
.simptoms-recommendations .symptom.symptom0{
  margin-top: 16px;
}
.simptoms-recommendations .symptom.alert{

}
.simptoms-recommendations .symptom.alert .name,
.simptoms-recommendations .symptom.alert .description,
.simptoms-recommendations .symptom.alert a{
  color: var(--main-pink);
}
.simptoms-recommendations .symptom .name{
  color: var(--main-blue);
  font-family: "SofiaPro-SemiBold";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: -0.3px;
  margin: 0 0 16px 0;
  display: flex;
  column-gap: 8px;
  align-items: center;
  justify-content: flex-start;
}
.simptoms-recommendations .symptom .description{
  color: var(--main-blue);
  font-family: "SofiaPro-Regular";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: -0.16px;
  margin: 0 0 24px 0;
}
.simptoms-recommendations .symptom a{
  color: var(--main-blue);
  font-family: "SofiaPro-Regular";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: -0.16px;
  text-decoration-line: underline;
  text-decoration-style: initial;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: left;
}
.meno-score-container .box{
  border: 1px solid var(--secondary-blue-20);
  border-radius: 16px;
  padding: 32px;
  display: flex;
  flex-direction: row;
  column-gap: 64px;
  align-items: flex-start;
}
.meno-score-container .box .title{
  color: var(--main-blue);
  font-family: "SofiaPro-Medium";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px; /* 133.333% */
  letter-spacing: -0.72px;
  margin: 0 0 24px 0;
}
.meno-score-container .box .description{
  color: var(--secondary-blue-80);
  font-family: "SofiaPro-Regular";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: -0.16px;
}
.meno-score-container .box .actions{
  display: flex;
  column-gap: 8px;
  margin-top: 24px;
}
.meno-score-container .box .info-box{
  padding: 24px;
  background-color: #F5F6F8;
  border-radius: 16px;
  min-width: 192px;
}
.meno-score-container .box .info-box .stats{
  color: var(--main-blue);
  font-family: "SofiaPro-SemiBold";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 133.333% */
  letter-spacing: -0.96px;
  margin: 0 0 8px 0;
}
.meno-score-container .box .info-box .stats-desc{
  color: var(--main-blue);
  font-family: "SofiaPro-Regular";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  letter-spacing: -0.42px;
}
.meno-score-container .box .info-box-dr{
  width: 240px;
  border-radius: 24px;
}
.meno-score-container .box .info-box-dr>img{
  width: 100%;
  min-width: 240px;
  border-radius: 24px 24px 0 0;
}
.meno-score-container .box .info-box-dr .dr-info{
  padding: 24px;
  background-color: #F5F6F8;
  border-radius: 0 0 24px 24px;
}
.meno-score-container .box .info-box-dr .dr-info .dr-name{
  color: var(--main-blue);
  font-family: "SofiaPro-SemiBold";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; /* 155.556% */
  letter-spacing: -0.54px;
  margin: 0 0 8px 0;
}
.meno-score-container .box .info-box-dr .dr-info .dr-desc{
  color: var(--main-blue);
  font-family: "SofiaPro-Regular";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  letter-spacing: -0.42px;
}
.meno-score-container .box .button{
  padding: 8px 16px;
  font-family: "SofiaPro-Regular";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  letter-spacing: -0.42px;
}
@media screen and (max-width: 749px){
  .meno-score-container .box{
    padding: 24px;
    flex-direction: column;
    row-gap: 32px;
  }
  .meno-stage-main-content{
    flex-direction: column;
    row-gap: 32px;
  }
  .meno-stage-main-content .meno-stage-scale{
    margin-left: 50%;
    transform: translateX(-50%);
  }
  .meno-score-container .box{}
}